# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{diff, md}]
# Simple breaks in markdown can be achieved by using double trailing spaces
trim_trailing_whitespace = false

[*.{yaml, yml}]
indent_size = 2
# There are multi line strings constructs that reserve trailing whitespace,
# like the literal block scalar and the folding block scalar
trim_trailing_whitespace = false

[*.properties]
# properties are parsed until the line end and thereby allow the use of trailing spaces in property values
trim_trailing_whitespace = false
# The only allowed charset for this file type
charset = latin1

[*.{xml, json, adoc, puml}]
indent_size = 2
